/* WordList.css */
.word-list {
    margin-top:100px;
    width: 100%;
    max-width: 600px; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  .word-entry {
    background-color: #EEE; /* Light gray background */
    margin-bottom: 10px; /* Spacing between entries */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Ensures the rounded corners contain the children */
  }
  
  .word-term {
    padding: 10px 15px;
    background-color: #6F42C1; /* Purple background like in your image */
    color: white;
    cursor: pointer; /* Indicates the term is clickable */
    font-weight: bold;
  }
  
  .word-detail {
    padding: 10px 15px;
    background-color: #DDD; /* Lighter gray for the detail */
    border-top: 1px solid #CCC; /* Separator between term and detail */
  }
  
  .create-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.create-box button {
    padding: 10px 15px;
    width: 100%;
    background-color: #6F42C1;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}
.result {
    position: relative;
}
.result .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    color: #ffffff;
    margin: 5px 0 20px 0;
    font-size: 14px;
}